
:root {
    --color-orange1: #FF7833;
    --color-gray1: #31333B;
    --color-text: #e7e7e7;
    --color-fundo: #444856;
    --fonte-principal: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--color-fundo);
    display: flex;
    font-family: var(--fonte-principal);
    margin: 0px;
    padding: 0px;
    line-height: 1.7;
}

header {
    background-color: var(--color-gray1);
    width: 300px;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    flex: 0 0 26rem;
    border: 1px solid red;
}

nav {
    text-align: right;
    padding: 6.5rem 2.4rem 2.4rem;
}

img {
    border-radius: 50%;
    width: 160px;
}

ul, ul li a {
    color: white;
}

ul {
    list-style-type: none;
    padding: 0px;
}


main {
    flex: 1 0;
    padding: 6.5rem 6rem 7.5rem;
    color: var(--color-text);
}

main h2 {
    color: #949494;
    font-size: 2em;
}

main .title-article {
    color: var(--color-orange1);
    font-size: 1.4em;
    font-weight: bolder;
}

main h3, main a {
    color: var(--color-orange1);
    font-size: 1.2em;
    font-weight: lighter;
    text-decoration: none;
}

nav ul a {
    display: block;
    padding: 1.2rem 0;
    text-decoration: none;
    transition: padding-right .2s, background-color .4s;
    background-color: transparent;
}

nav ul a:hover {
    background-color: var(--color-fundo);
    padding-right: 1rem;
}

li {
    border-bottom: 1px solid #7b7b7b;
    padding: 4px 0px 4px;
}

main, header {
    font-size: 1.6rem;
}

.foto-perfil {
    max-width: 10rem;
}

.contatos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 16px;
    margin-top: 40px;
}

.contatos img {
    max-width: 2.8em;
    color: white;
}

.contatos a {
    color: rgb(212, 212, 212);
    font-weight: lighter;
    font-size: 1.1em;
}





