
:root {
    --color-orange1: #FF7833;
    --color-gray1: #31333B;
    --color-text: #e7e7e7;
    --color-fundo: #444856;
    --fonte-principal: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--color-fundo);
    display: flex;
    font-family: var(--fonte-principal);
    margin: 0px;
    padding: 0px;
    line-height: 1.7;
}

header {
    background-color: var(--color-gray1);
    width: 300px;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    flex: 0 0 26rem;
}

nav {
    text-align: right;
    padding: 6.5rem 2.4rem 2.4rem;
}

.foto-perfil {
    border-radius: 50%;
    width: 160px;
    max-width: 10rem;
}

nav ul, ul li a {
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0px;
}


main {
    flex: 1 0;
    padding: 6.5rem 6rem 7.5rem;
    color: var(--color-text);
}

main h2 {
    color: #949494;
    font-size: 2em;
}

.title-article {
    color: var(--color-orange1);
    font-size: 1.4em;
    font-weight: bolder;
}

main h3, main a, h4, h5, h6 {
    color: var(--color-orange1);
    font-size: 1.2em;
    font-weight: lighter;
    text-decoration: none;
}

nav ul a {
    display: block;
    padding: 1.2rem 0;
    text-decoration: none;
    transition: padding-right .2s, background-color .4s;
    background-color: transparent;
}

nav ul a:hover {
    background-color: var(--color-fundo);
    padding-right: 1rem;
}

nav li {
    border-bottom: 1px solid #7b7b7b;
    padding: 4px 0px 4px;
}

main, header {
    font-size: 1.6rem;
}


.contatos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 16px;
    margin-top: 40px;
}

.contatos img {
    max-width: 2.8em;
    color: white;
}

.contatos a {
    color: rgb(212, 212, 212);
    font-weight: lighter;
    font-size: 1.1em;
}

.destaque {
    margin: 0;
    width: fit-content;
    padding-left: 30px;
    border-left: 2px solid var(--color-orange1);
}

.destaque h2 {
    margin: 0;
}

h4 {
    font-size: 1.15em;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 50px;
}

.card {
    max-width: 740px;
    padding: 0px;
    margin: 0px;
    background-color: var(--color-gray1);
}

.row {
    display: flex;
    gap: 1.5em;
    justify-content: space-between;
}

.row > * {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0%;
}

.card img {
    max-width: 100%;
}

.content-card, .content-card h3, .content-card p {
    margin: 0;
    padding: 0 0 10px 10px;
}

.titulo-colado {
    margin: 0;
    padding: 60px 0px 20px 0px;
}

.alternates {
    list-style-type: none;
    padding: 0;
}

.alternates li {
    border-bottom: 2px solid;
}

.alternates li:last-child {
    border: 0px;
}

.roman {
    list-style-type: upper-roman;
}

.emoji-list {
    list-style-type: "\1F60E";
}

input,
label,
textarea,
select {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
    margin-top: 20px;
}


input, textarea, select {
    background-color: #ccc;
    padding: 1.2rem;
    border-radius: 5px;
    border: none;
}

.btn {
    background-color: var(--color-gray1);
    color: white;
    transition: all .2s ease;
    border: 2px solid rgba(0, 0, 0, 0.678);
    padding: 5px 10px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #202227;
    cursor: pointer;
}

.form-quiz {
    width: calc(50% - 1.5rem);
}

.fim {
    margin-top: 50px;
}

.transp {
    background-color: transparent;
}

.btn + .btn:not(.full){
    margin-left: 10px;
}
.btn-big {
    padding: 10px 20px;
    font-size: 16px;
}

.outline {
    background-color: transparent;
}

.full {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    text-transform: uppercase;
    text-align: left;
    font-weight: bolder;
    padding-bottom: 10px;
    padding-left: 10px;
}

.table td:last-child,
.table th:last-child{
    text-align: right;
}

.table:not(.table-alternate) tbody tr:not(:last-child) td {
    border-bottom: 2px solid var(--color-gray1);
}

.table td {
    padding: 10px; 
}

.table-alternate tbody tr:nth-child(odd) {
    background-color: var(--color-gray1);
}

.table-vertical td:not(:last-child),
.table-vertical th:not(:last-child) {
    border-right: 2px solid rgba(0, 0, 0, 0.568);
}






